/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
body { font-family: Arial; color: #fff; background-color: #333 }
.title { width: 750px; margin: 20px auto; margin-top: 50px; font-size: 36px; }
#jobs { border-collapse: collapse; border: 1px solid #333; margin: 0 auto; -moz-border-radius: 15px; width: 750px; }
.header { background-color: #666; width: 125px; text-align: center; padding: 13px; color: #ddd; font-size: 21px }
.header.left { -moz-border-radius-topleft: 15px; width: 250px: 10px; text-align: left; border-top-left-radius: 15px; }
.header.right { -moz-border-radius-topright: 15px; border-top-right-radius: 15px; }
.col { padding: 10px; font-size: 18px; text-align: center; color: #999; }
.col.striped { background-color: #121212 }
.col.left { text-align: left; }

