<!DOCTYPE html>
<html>
<head>
  <title>DelayedJobDashboard</title>
  <%= stylesheet_link_tag    "delayed_job_dashboard/application" %>
  <%= javascript_include_tag "delayed_job_dashboard/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
